.Content {
    padding: 10px;
	background-color: black;
	border-radius: 8px;
    border: solid 1px rgb(51, 38, 56);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	max-width: 500px;
	max-height: 85vh;
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    box-shadow: 2px 2px 10px black;
}

.Title {
    color: white;
}

.Description {
    color: white;
}

.Button {
    padding: 8px;
    width: 15%;

    border: none;
    border-radius: 10px;
    font-variant: normal;
}
#confirm{
    background-color: rgb(255, 39, 39);
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
