#inserted > div{
    font-weight: bolder;
    color: white;
    display: inline-block;
    width: 20vw;
    background-color: black;
}
.bt{
    display: inline;
    padding: 3px;
    border: 1px solid white;
    margin-right: 20px;
}